@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-gray-800 bg-ash;
}

h1, h2, h3, h4 {
  @apply font-bold text-black;
}

a {
  @apply text-gray-800 hover:text-gray-600 transition;
}

/* Remove all animations that feel "AI-generated" */
* {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition: none !important;
}